<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Book review app</title>
  </head>
  <body>

    <header style="background-color: #333;">
        <div class="row d-flex align-items-center" style="height: 70px; padding: 0 20px;">
            <div class="col-6">
                <a href="/main" class="text-uppercase font-weight-bold text-white">Go back</a>
            </div>
            <div class="col-6 text-right">
                <p class="text-uppercase font-weight-bold text-white" style="margin-top: 10px;">Hello, <span>{{ user }}</span>!</p>
                <a href="\logout" style="display: block; margin-top: -20px;" class="text-white"><u>Logout</u></a>
            </div>
        </div>
    </header>

    <div class="jumbotron text-center" style="padding: 150px 0;">
        <h1>Welcome to Bennington <br> Book Review Library!</h1>
    </div>

    <div class="text-center" style="padding: 50px 0;">
        <div class="container">
            <h3 class="text-uppercase font-weight-bold" style="color: #ff3300; font-size: 2em;">All books for you!</h3>

            <ul style="width: 50%; margin: 50px auto;" class="text-left">
            	{% for book in books %}
                    <li><a href="book/{{ book.id }}">{{ book.title}} -- {{book.author}}</a></li>
                {% endfor %}
            </ul>

        </div>
    </div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>